* {
    margin: 0;
    padding: 0;
}

/* Global Styles */
:root {
    /* Colors */
    --primary-color: #212121;
    --secondary-color: #747474;
    --highlight-color: #83D89B;
    --background-color: #ffffff;
    --background-secondary-color: #EBEBE9;

    /* Fonts */
    --font-family: 'Montserrat', sans-serif;
    --font-size-small: 12px;
    --font-size-base: 16px;
    --font-size-medium: 20px;
    --font-size-big: 36px;
    --font-size-title: 24px;
    --font-size-large: 3.5rem;


    /* Grid */
    --container-width: 1140px;
}


body {
    font-family:"Montserrat", sans-serif;
    background-color: var(--background-color);
}

html {
    scroll-behavior: smooth;
}

p {
    color: var(--primary-color);
    font-size: var(--font-size-base);
    line-height: 24px;
}

/* Transition */

a, .btn {
    transition: all 300ms ease;
}

.subtitle {
    font-size: var(--font-size-title);
    font-weight: 600;
    line-height: 36px;
}

@media (max-width: 1200px) {
    a.btn {
        color: var(--primary-color); /* Altere para a cor que você deseja */
        text-decoration: none; /* Garantir que a decoração de link não apareça */
    }

    .btn {
        color: var(--primary-color); /* Corrigir cor no mobile */
    }
}





/* Header - Desktop Nav*/

header {
    display: flex;
    align-items: center;         
    justify-content: space-between; 
    padding: 10px 20px;
    flex-wrap: wrap;            
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    max-width: var(--container-width);
}

nav, .nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}

.nav-logo {
    max-height: 50px;
    font-size: var(--font-size-base);
    font-weight: 500;
    cursor: default;  
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: var(--font-size-base);
    font-weight: 400;
}

.nav-icons {
    display: flex;
    gap: 15px; /* espaço entre os ícones */
}

a {
    color: var(--primary-color);
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: var(--background-color);
}

a:hover {
    color: var(--primary-color);
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: var(--secondary-color);
    text-decoration-thickness: 1px;
}

.nav-icons {
    display: flex;
    gap: 24px;
}

.nav-icons i {
    font-size: 1rem;
    color: var(--primary-color);
    cursor: pointer;
    transition: color 0.3s ease;
}

.nav-icons i:hover {
    color: var(--secondary-color);
}





/* Header Mobile Hamburger Icon */
.nav-hamburger {
    display: none;
    font-size: 1.5rem;
    color: var(--primary-color);
    cursor: pointer;
}

/* Mobile Styles */
@media (max-width: 768px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: center; /* Centraliza o logo */
        align-items: center;
        position: relative;
    }

    .nav-hamburger {
        display: block; /* Exibe o ícone de hambúrguer no mobile */
        position: absolute;
        left: 20px;
        z-index: 20; /* Alinha o ícone ao lado esquerdo */
    }

    .nav-logo {
        position: static; /* Centraliza o logo no fluxo natural */
        margin: 0 auto;
    }

    .nav-icons {
        display: flex; /* Garante que os ícones sejam exibidos */
        position: absolute;
        right: 20px; /* Posiciona os ícones no lado direito */
        gap: 32px; /* Ajusta o espaçamento entre os ícones */
    }

    .nav-icons i.fa-github-alt, i.fa-behance {
        display: none;
    }

    .nav-hamburger i {
        font-size: 1.5rem; /* Ajuste o valor conforme necessário */
    }

    .nav-links {
        display: none; /* Oculta o menu inicialmente */
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: var(--background-color);
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px 0;
        z-index: 10;
    }

    .nav-links.show {
        display: flex; /* Mostra o menu quando ativo */
    }

    .nav-logo img {
        max-height: 30px;
        padding-top: 10px;
    }
}










/* Section Hero */

.hero-container-home {
    display: flex;
    align-items: center; 
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 0px;
    padding: 8rem 0rem;
    max-width: var(--container-width);
    width: 100%;
  }

  @media (max-width: 1140px) {
    .hero-container-home {
    flex-direction: column;
    align-items: center;        
    padding: 4rem 1rem;       
    }
  }

  .hero-container-home h1 {
    font-size: 4.5rem;
    text-align: center;
    width: 100%;     
    color: var(--primary-color);
    line-height: 1.4;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards;
  }

  @media (max-width: 1140px) {
    .hero-container-home h1 {
    font-size: 2.5rem;     
    width: 100%;            
    text-align: center;  
    }
  }
  
  /* animação suave ao carregar a página */
  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

.hero-container-white {
    background-color: var(--background-color);
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 0px;
}

.hero-content {
    display: flex;
    justify-content: center;
    max-width: var(--container-width);
    width: 100%;
    box-sizing: border-box;
}

.hero-content-left,
.hero-content-right {
    width: 50%;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.hero-container-pic {
    width: 100%;
    max-width: 600px;
    height: auto; 
    margin: 0 auto; 
    overflow: hidden;
    border-radius: 10px;
    line-height: 0;
}

.hero-container-pic img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.social-container {
    display: flex; 
    gap: 40px; 
    font-size: var(--font-size-medium);
    max-width: 100%;
    justify-content: center;
}

.facebook-icon {
    padding: 2px;
}

.instagram-icon {
    font-size: 28px;
}

.social-container {
    gap: 80px;
    padding-top: 20px;
}

.social-container i{
    cursor: pointer;
}


@media (max-width: 1200px) {
    /* Ambos os containers viram coluna */
    .hero-content {
        flex-direction: column;
        gap: 40px;
    }

    .hero-container-white .project-content {
        flex-direction: column;
    }

    .hero-container-white {
        padding-top: 0px;
        padding-bottom: 80px;
    }

    .hero-content-left,
    .hero-content-right {
        width: 100%;
    }

    .hero-container-pic {
        border-radius: 100%;
    }
}






/* Projects */
.project-container-gray {
    background-color: var(--background-secondary-color);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    overflow: hidden;
}

.project-container-white {
    background-color: var(--background-color);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    overflow: hidden;
}

.project-content {
    display: flex;
    justify-content: center;
    max-width: var(--container-width);
    width: 100%;
    gap: 60px;
    box-sizing: border-box;
}

.project-content-left,
.project-content-right {
    width: 50%;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.project-container-pic {
    width: 100%;
    max-width: 400px; /* Largura máxima da imagem */
    height: auto; /* Altura ajustável */
    margin: 0 auto; /* Centraliza o container dentro do lado esquerdo */
    overflow: hidden; /* Garante que a imagem não escape do container */
    border-radius: 10px; /* Bordas arredondadas */
}

.project-container-pic img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


@media (max-width: 1200px) {
    /* Ambos os containers viram coluna */
    .project-content {
        flex-direction: column;
        gap: 20px;
        padding: 24px;
    }

    /* Inverter ordem no container gray */
    .project-container-gray .project-content {
        flex-direction: column-reverse;
    }

    /* Manter fluxo natural no container white */
    .project-container-white .project-content {
        flex-direction: column;
    }

    .project-container-gray,
    .project-container-white {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    /* Ajustar larguras para ocupar 100% */
    .project-content-left,
    .project-content-right {
        width: 100%;
    }
}





/* Contact me */

.contact-container-white {
    background-color: var(--background-color);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    overflow: hidden;
}

@media (max-width: 1200px) {

    .contact-container-white .project-content {
        flex-direction: column;
    }

    .project-container-gray,
    .project-container-white {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    /* Ajustar larguras para ocupar 100% */
    .project-content-left,
    .project-content-right {
        width: 100%;
    }
}




/* Buttons */

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 20px;
}

.btn {
    font-family: var(--font-family); 
    font-size: var(--font-size-base);
    font-weight: 400; 
    transition: all 300ms ease;
    width: 12rem;
    border-radius: 30px;
    padding: 12px 24px;
    border: solid 1px var(--primary-color);
    background: none;
    color: var(--primary-color); 
    text-decoration: none; 
}

.btn:hover { 
    background-color: var(--primary-color);
    color: var(--background-color);
    cursor: pointer;
}

@media (max-width: 1200px) {
    .btn-container {
        flex-direction: column;
        gap: 20px;
        padding: 24px;
    }

    .btn {
        color: var(--primary-color); 
        font-size: var(--font-size-base); 
    }
}





/* Footer */
footer {
    background-color: var(--primary-color);
    color: var(--background-color);
    text-align: center; /* Centraliza o texto */
    width: 100%;
    margin-top: auto;
}

.footer-container {
    max-width: var(--container-width);
    width: 100%;
    margin: 0 auto; 
    padding: 16px 0px;
}

.footer-sign {
    font-size: var(--font-size-small);
    font-weight: 300;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

/* .footer-sign strong {
    color: var(--highlight-color);
} */










/* About me */

.aboutme-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* padding: 0px 16rem; */
    text-align: justify;
    max-width: var(--container-width);
    box-sizing: border-box;
}

.icons-container {
    display: flex; 
    gap: 40px; 
    font-size: var(--font-size-big);
    max-width: 100%;
    justify-content: center;
    padding: 40px;
}

@media (max-width: 1200px) {
    .aboutme-content {
        flex-direction: column;
        gap: 20px;
        padding: 0 40px;
        width: 100%;
    }

    .icons-container {
        flex-wrap: wrap;
        padding: 40px 0 40px 0;
    }
}